body {
    background-color: #302c29;
    margin: 0 auto;
}
.osos{
    overflow: auto;
    background-color:#a52626;
}
ul {
    display: block;
    margin: 0;
    padding: 30;
    overflow: hidden;
    background-color: #a52626;
    font-family: "Prompt";
}	

ul li {
	display: block;
    float: left;
    padding-right: 10px;
}

ul li a {
	color: #ffffcc;
    display: inline-block;
    text-align: center;
    padding: 30px;
    padding-right: 40px;
    text-decoration: none;
    font-family: "Prompt";
}

li a:hover {
    background-color: #db3232;
    color: #52277c ;
}

.panditas {
	display: block;
    text-align: center;
    overflow: auto;
    width: 100%;
    margin-left: 150px;
    margin-top: 20px;
}

.pandita{
    display: inline-block;
    float: left;
    background-color: #302c29;
    margin-right: 20px;
    width: 160px;
    height: 160px;
}

.panda{
    display: inline-block;
    float: left;
    margin-right: 20px;
    width: 90%;
    height: 83%;
    border: 4px solid grey;
    margin: 0px;
}
 
/*#pic1, #pic2, #pic3, #pic4{
     display: inline-block;
     float: left;
     width: 120px;
     height: 120px;
     
 }*/
.contenedor_info{
    margin-left: 140px;
    margin-bottom: 30px;
    padding: 10px;
    padding-bottom: 10px;
}

.text {
    color:#ffffcc;
    display: inline-block;
    float: left;
    background-color: #a52626;
    margin-right: 5px;
    margin-top: 10px;
    width: 270px;
    text-align: center;
    cursor: pointer; 
}
.text:hover {
    background-color: #d17b7b;
    color: #52277c;
    font-weight: bold;  
}

#left{
    float: left;
    margin-left: 120px;
    width: 35%;
    text-align: justify;
    color: #ffffcc;
}
#right{
    float: left;
    margin-left: 30px;
    width: 35%;
    text-align: justify;
    color: #ffffcc;
}



